@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic-ext';

$font-stack: 16px "Roboto Condensed", sans-serif;
$font-color: #666;

body {
  font: $font-stack;
  color: $font-color;
}