@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic-ext';
/* Some modern color schemas */
body {
  font: 16px "Open Sans", Tahoma, sans-serif;
  color: #312c32;
  background-color: #feffff; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: #daad86; }
