<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Hello from kitty!</title>
    <link rel="icon" href="favicon.gif" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/angular/angular-csp.css">
    <link rel="stylesheet" href="vendor/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="./css/main.min.css">

</head>
<body ng-controller="MainController">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 ng-bind="welcome_header">Hello, Kitty!</h2>
                <h3 class="less">LESS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel placeat sint magni commodi adipisci possimus, laborum officiis quisquam dicta dolor perspiciatis porro itaque totam. Laudantium officia asperiores ipsum minima sapiente!</p>
                <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Бросил путь подзаголовок рыбными которое по всей, но парадигматическая страна что, строчка переписывается они всеми безорфографичный имеет одна на берегу семь запятой.</p>

                <ul ng-if="items.length">
                    <p>Items from <strong>"items.json"</strong> file</p>
                    <li ng-repeat="item in items">{{item.id}}:&nbsp;{{item.name}}</li>
                </ul>
                <div ng-if="!items.length">
                    <p>No items found...</p>
                </div>

                <div style="display:inline-block; min-height:290px;">
                    <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
                </div>

            </div>
        </div>
    </div>

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery.easing/js/jquery.easing.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="./js/scripts.min.js"></script>
</body>
</html>
