/* Some modern color schemas */
$color1_1: #F1E0BF;
$color1_2: #96b0a3;
$color1_3: #A03F2E;
$color1_4: #4b291a;

$color2_1: #e8edf3;
$color2_2: #e6cf8b;
$color2_3: #b56969;
$color2_4: #22264b;

$color3_1: #feffff;
$color3_2: #98dafc;
$color3_3: #daad86;
$color3_4: #312c32;

$color4_1: #1d2120;
$color4_2: #5a5c51;
$color4_3: #ba9077;
$color4_4: #bcd5d1;

$color5_1: #f0eceb;
$color5_2: #729f98;
$color5_3: #283018;
$color5_4: #aa863a;

$font-stack: 16px 'Open Sans', Tahoma, sans-serif;
$body-color:   $color3_1;
$accent-color: $color3_3;
$font-color:   $color3_4;
